
#test {
  font-family: fantasy;
  background: gray;
  text-align: center;
}

#background {
  background-color: black;
  color: white;
  text-align: center;
}

.font-color {
  color: #6c757d;
}

#smaller {
  font-size: 15px;
  color: #6c757d;
  text-align: left;
}
#receipt p {
  color: lime;
  font-size: x-large;
}

#white {
  color: red;
  text-align: left;
}
.userText {
  text-align: center;
  width: 75%;
  margin: auto;
  color: #6c757d;
  font-stretch: expanded;
  font-family: Courier;
}